Repository olhovivorj/admin-panel-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

feat: adicionar deploy automático com GitHub Actions
  .github/workflows/deploy.yml
  ecosystem.production.config.js
  scripts/ci-deploy.sh
  scripts/rollback.sh
Due: prettier --write

fix: corrigir caminho do projeto no servidor
  .github/workflows/deploy.yml
  ecosystem.production.config.js
  scripts/ci-deploy.sh
  scripts/rollback.sh
Due: prettier --write

fix: adicionar atualização do invistto-auth no deploy
  scripts/ci-deploy.sh
Due: none

fix: corrigir ordem do git pull no workflow
  .github/workflows/deploy.yml
  scripts/ci-deploy.sh
Due: none

fix: adicionar import do toast em FirebirdConfigModal
  apps/web/src/components/bases/FirebirdConfigModal.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: corrigir URL do health check
  .github/workflows/deploy.yml
Due: none

ci: adicionar trigger repository_dispatch para auth updates
  .github/workflows/deploy.yml
Due: none

feat: migrar auth para Auth API Standalone (porta 3001)
  apps/web/src/App.tsx
  apps/web/vite.config.js
Due: eslint --fix --max-warnings=0, prettier --write

chore: atualizar porta padrão para 3002
  apps/api/.env.example
  pnpm-lock.yaml
Due: none

fix: incluir CNPJ do Firebird ao salvar configuração de lojas Zeiss
  apps/api/src/modules/bases/bases.service.ts
  apps/web/src/components/bases/LojasConfigModal.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: permitir desativar Firebird sem preencher campos obrigatórios
  apps/web/src/components/bases/FirebirdConfigModal.tsx
  apps/web/src/pages/Bases.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: preservar dados Firebird ao desativar base
  apps/web/src/components/bases/FirebirdConfigModal.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor(auth): migrar para API Auth centralizada (porta 3001)
  apps/api/src/app.module.ts
  apps/api/src/main.ts
  ecosystem.config.js
  ecosystem.production.config.js
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: usar factory provider para StandaloneJwtGuard
  apps/api/src/app.module.ts
  package-lock.json
  package.json
Due: eslint --fix --max-warnings=0, prettier --write

feat(auth): add cookie-parser for httpOnly cookies
  apps/api/src/main.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add system health monitoring dashboard
  apps/api/package.json
  apps/api/src/app.module.ts
  apps/api/src/main.ts
  apps/api/src/modules/system/system.controller.ts
  apps/api/src/modules/system/system.module.ts
  apps/api/src/modules/system/system.service.ts
  apps/web/src/App.tsx
  apps/web/src/components/EnvironmentSelector.tsx
  apps/web/src/components/system/SystemHealthCard.tsx
  apps/web/src/config/system-config.ts
  apps/web/src/contexts/BaseContext.tsx
  apps/web/src/pages/Dashboard.tsx
  apps/web/src/services/api.ts
  apps/web/src/services/system.ts
  apps/web/vite.config.js
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix(auth): add comment about Hub redirect on logout
  apps/web/src/App.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat(ai-billing): add AI usage monitoring interface
  apps/web/src/App.tsx
  apps/web/src/components/layout/Sidebar.tsx
  apps/web/src/pages/AiBilling.tsx
  apps/web/src/services/ai-billing.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: add ecosystem architecture documentation
  docs/DIAGRAMA-ECOSSISTEMA-DATA.json
  docs/DIAGRAMA-ECOSSISTEMA-INTERATIVO.html
  docs/DIAGRAMA-ECOSSISTEMA.py
  docs/DIAGRAMA-HIERARQUIA.html
  docs/ECOSSISTEMA-INVISTTO-RESUMO.md
  docs/ECOSSISTEMA-INVISTTO.html
  docs/ECOSSISTEMA-INVISTTO.json
  docs/ECOSSISTEMA-INVISTTO.py
  docs/INDEX-ECOSSISTEMA.html
  docs/PROJETOS-ATIVOS.md
Due: prettier --write

docs: improve hierarchy diagram - show Auth and Hub as central components
  docs/DIAGRAMA-HIERARQUIA.html
Due: none

feat(proxy): add ARI proxy for AI billing endpoints
  apps/web/vite.config.js
Due: prettier --write

fix(api): add missing axios dependency for system health checks
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

docs: update port mappings for api-invistto and servermcp
  docs/ECOSSISTEMA-INVISTTO.json
  docs/PROJETOS-ATIVOS.md
Due: prettier --write

fix(web): use /admin/login instead of /login for redirect
  apps/web/src/hooks/useUserEdit.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(deploy): standardize paths to admin-panel-v2
  CLAUDE-RESUMO.md
  apps/web/src/components/ProtectedRoute.tsx
  ecosystem.production.config.js
  scripts/ci-deploy.sh
Due: eslint --fix --max-warnings=0, prettier --write

fix(auth): use window.location.href with BASE_URL for logout redirect
  apps/web/src/App.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(auth): use Navigate instead of window.location.href for login redirect
  apps/web/src/components/ProtectedRoute.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(auth): set correct apiUrl for auth endpoints
  apps/web/src/App.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(auth): use event dispatch instead of destructive storage clear on 401
  apps/web/src/App.tsx
  apps/web/src/services/api.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix(auth): revert apiUrl to /admin/api for production compatibility
  apps/web/src/App.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix(auth): use empty apiUrl for auth endpoints at domain root
  apps/web/src/App.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,css,md})
